{{> header}}

<style>

ul.panel-content > li {

}

ul.panel-content > li:not(:last-child) {

}
</style>

<div class="container" id="mainContent">
    <div class="row">
        <header class="col">
            <h1>Distant Apologies</h1>
        </header> <!-- col -->

        <aside class="twitter-box-col">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Latest Twitter <a href="" target="_blank">apologies</a></h3>
                </div>
                <ul class="panel-content">
                    {{#tweets}}
                        <li>{{text}} ~ {{created_at}}</li>
                    {{/tweets}}
                </ul>
                <div class="panel-heading panel-footer">
                </div>
            </div> <!-- /panel -->
        </aside> <!-- /column -->
    </div> <!-- /row -->

<iframe src="https://player.vimeo.com/video/85394216" width="500" height="366" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/85394216">Lucid Dream Ensemble - 4. White</a> from <a href="https://vimeo.com/schmudde">Schm&uuml;dde</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</div>

{{> footer}}
