{{> header}}

<link rel="stylesheet" href="css/animate.min.css" />

<div class="container" id="mainContent">
    <div class="row" id="distant-apologies">
        <header class="header-col">
            <h1>Distant Apologies</h1>
        </header> <!-- col -->
    </div> <!-- /row -->

    <div class="row">
        <div class="twitter-box-apol-col">
            <div class="row">
                <div class="header-col">
                    <h3>Latest apologies made on Twitter</h3>
                </div> <!-- header-col -->
                <div class="header-col-right">
                    <h3><small>Not moderated for content</small></h3>
                </div> <!-- header-col -->
            </div> <!-- row -->
            <ul class="panel-content" id="distant-tweets">
                {{#tweets}}
                    <li style="display:none;">{{{text}}} ~ {{created_at}}</li>
                {{/tweets}}
            </ul>
        </div>
    </div> <!-- /row -->

    <div class="row">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://player.vimeo.com/video/160771838" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div> <!-- /row -->

</div>

{{> footer}}
