{{> header}}

<div class="container" id="mainContent">
    <div class="row">
        <div class="col-sm-8">
            <h1>etc...</h1>
	    <p>Contact me privately</p>
	    <pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Comment: GPGTools - https://gpgtools.org

mQINBFUticgBEADjarKi9XDIPVbXsGC6wvSCowuq6DAqIDGenLBzL0f7ofo6MXpT
2Wrs0Dikm5WTNB7muZbY9IFqk3/wSDFhv/kiAYJr91KqACkTRiEOJLlDd6YmFgUI
+DA0UE9wHI4i+Es9oN3mIBN6XIOlchKEAEwu1XZ6VCKG+vOC3qeiOpasFYeFIfSU
BqSJJmcWtMNP4SqdJHEUSUY4AXz2dr2+SYLEEFGXRrqPknk+8SItmTUqvy+PhYxe
fCg2DhB1qOw1g1sm8Ta4igBO6j6I9gy0lG43C6hMPCO3lqYpsWy+qLamyyVrgw3p
8c4Bkjt+q0/uV0B4CXVRLEyZ0hXnx8uEPQR3z6LKniLdn8fhVkDt2NxPit9x8nNy
rPRh3cat0g9oba7cx05ZjFSL7f5WeOqe3TNvzvhtofsfgkpxJ4aOAXdoTLYcOpRD
mGbCa1iY8kWv9TkPaaiNmAperV7gB8QYPpk5HQPFois2PQP71F1ktnwkxgzYSPWf
0b4YVrypHr9B5AgPQWmJXmk+3sarBau5lusdQz7ZLUWXByWnwHUA/n1t7PA872c9
UA92l1kMuR1cUnj08Tnr2hejQFBjjKXrDAbt9lJv8yNA1QnihO7UQ2pheB2WATvp
eqRJdu/rE3yOVD3wq9g/dzBuw8xpAOW9lwhkbdldhApuXGZb8LAnf51bxwARAQAB
tCRTY2htw7xkZGUgPHNjaG11ZGRlQGJleW9uZHRoZWZyYS5tZT6JAj0EEwEKACcF
AlUticgCGwMFCQeGH4AFCwkIBwMFFQoJCAsFFgIDAQACHgECF4AACgkQROiIdcUy
43EaWBAAsrDvpnNcW5VYJ3Sj3Lj2Yj50PrFU9+nrytwTkxKeDN+c2REEtCuhSOYd
vDeVOCFP0hrEGizRCAC39WdMEgsryGst/YTIr3EH5eOKB3XjoOvGSFqbxP+AOHbU
M/kfs0VTSxV4GwsukHZjVn8GywMscBG/DGd/c/sOZVLGzHy2v9mfKbUi3wghCmwl
06q1e4C7xw14U2vpeaxmRd0Zk1O0iH/qEcJxWiLdfHOm1DJOk59fdEZ5VO5owHpl
oGEHiSl7vfbZAmLL0gRgfFmrluDiqDvPKqxpZLmsyCEqPAYGmWHSWuKjxRRyp/qS
Yw3lfhKzqFuMTlLAoOXR5HJ9nSIGvethN37E2J7++Tb6BpTiSPZO7JKnGRL0fc+f
DenFwVCIzuHDBW2h2D5yTEoyFsVmJ5vaSuoaUAGcSCymhI/gh2qFBBoWMgBYdByg
YIx5ARRgFpw5p0MVxArfTb8r8i+nGaKD4WeP0JcJuszwVnkNMW/U2xXfEPnACp95
c6tO8xyVV7mrzZa/XEklWuNR4cjU3GUoB7wwgcxlTAQwuYhJJu1Zf8Z7wNbLtQwz
Q27HBy38kj/XBc562HuedwO5GcrAMh7EhFJoP7yB8/rz7O9Yn5Ensnd/im5nd++l
VA/p4oTQMQHh2nWDK7mcZJ8zYKRFGb5Icf0QtDvZjZ/U2AzVN+e5Ag0EVS2JyAEQ
ALi8MX9TgjiCrqMTd5kRopiK23JatuU7vo60CDiYlGJvqoAIrTAME2q/svzve1P8
mztPN8suesTaCRR6jhu5FMdWxj2dws8uc/QUQzfDYxoBYu1AbK6DeB7CNRlIaLqx
RLow46VqRNl0JcvudnLz5iI2CPmg0NcfsawQXGz3mKjEZJiunnq+/6nP3ox2nsbP
qAOSgl1RPrigzV2027LVAMeNZQdGPHUGjTMntk8NFsf79RI5Oy/RObXy8mFrJ+7F
MYYZODPaO7DU/7dYri6vEOeIpwcZMMPcnukOyl4vKYMxCY131OUwoIgvvKPnl3CH
aiVZbrdj8fiMW7kgdapQPGpg76/wW4kPDBrNiagrnCwMthkp0ut7lvTefZ6IOu5C
MiBQhF52hfQTgmb+/+ODj+Y60l9t4kon0UU4wvtQUCayhSDJNUo8wil62b5rze0W
l3GdUCpt2D+KPYXiQtOSxj7DLI4aBU5e+PVo32RmanEgMImb5cYNmu86MuHUMnla
Cn6TX51jVhfKZAyfTeVWDlDuaMxZqX0tJg8wjbBgPwNus+0WSQJIKRGUnc8BfIcI
cB5GkPGipmEzWLBSQCFMEkW2cD/q9K3XaROcDwD3YUaOtDxUr+VIn3wlklaxJdRX
nutgSOZEg69WEG78/L9ro5iB7C7joLbl6TVcqfdqNhpdABEBAAGJAiUEGAEKAA8F
AlUticgCGwwFCQeGH4AACgkQROiIdcUy43Eenw//XehYXLMPKkuJz1IKg4VyEHWt
TYrglm+EGNuh8tzlZ7K5tYvkVmJ4tZfzN6yAIMHkasp7ioOBPecnSi/p2GIymQr8
CqBe9LXilnypyvP0Ped42CwJYa5oOon8QM5zN2hAjxbd0JqKqNUKj7MPEduPgw9p
cv9ltE4NMn3WeYq/TiRY1LdC3NDri9tkDPYXHFsQ3XkYijHokFsiIFUHgC90uORj
zdmJEgqdEeEkAFVbfxJeGyv3Otgy4wl9J8LO3sC+VRK2yvAI5gC83KkanqqRGyzW
eKCF/Bu9NDY4QpPULJOwtHwuwrlfgp0zVUPpCZG8BG1xui+dWRBoWmqNcsRIPQbw
5N5VSZeTZQKC17Qi9yCrzZ2FHRX9oz3BVa6x7EWaXiF7mm9h+xmAp70Z6rpdtJ/w
kSdkim6OLO2C7BPFLM+7gp8DJS7n7PSnNpsbKsVdKrhFEsPldAkme9iEeU6pFKiM
/KJRvHwVZpXPo159oBGyjiyr2/q5qMHaO8Cpm2O1ojaqcMRt97M4s39CW4MmHz1M
zXW5NcGXfo5B6aV6i3Lk7ICP1jwKBpyj2bI3HJKMPNCdpJdfeNOnRedCs6vsjIe0
j73elGB7dbLJSWL0srUcuYhJwYtEwx+uN4JHfcnhGSm68y721jsvsv3xJLqgWyid
Pl8Km/k8QNQcLTuudc0=
=+Cf7
-----END PGP PUBLIC KEY BLOCK-----
	    </pre>
        </div> <!-- /column -->
    </div> <!-- /row -->
</div>

<script>
init();
</script>

{{> footer}}
