{{> header}}

<div class="container" id="mainContent">
    <div class="row">
        <div class="col-sm-12">
            <h1>etc...</h1>
        </div> <!-- /column -->
    </div> <!-- /row -->
</div>

<script>
init();
</script>

{{> footer}}
