{{> header}}

<div class="container exhibitions" id="mainContent">
    <header>
        <h1>{{page-title}}</h1>
    </header>


    <div class="row">
        <div class="col-sm-6">
            <h3>Screenings &amp; Exhibitions</h3>
            <ul>
                {{#exhibitions}}
                <li class="{{highlight}}">{{title}}</li>
                <li><small>({{place}})</small></li>
                <li class="sublist">Piece: <em>{{piece}}</em></li>
                {{/exhibitions}}
            </ul>
        </div> <!-- /column -->

        <div class="col-sm-6">
            <h3>Awards</h3>
            <ul>
                {{#awards}}
                <li class="{{highlight}}">{{&title}}</li>
                <li><small>({{type}})</small></li>
                <li class="sublist">Awarded By: {{org}}</li>
                {{/awards}}
            </ul>

            <h3>Affiliations</h3>
            <ul>
                {{#affiliations}}
                <li>{{&org}}</li>
                <li class="sublist">{{&title}}</li>
                {{/affiliations}}
            </ul>

            <h3>Education</h3>
            <ul>
                {{#education}}
                <li><strong>{{title}}</strong>, {{year}}</li>
                <li>{{org}}</li>
                <li class="sublist">Concentrations: {{concentrations}}</li>
                {{/education}}
            </ul>
        </div> <!-- /column -->
    </div> <!-- /row -->

</div>

{{> footer}}
