<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="socialIcons" id="logoContainer">
                    <a href="mailto:schmudde@schmud.de?subject=Greetings" target="_blank" class="popupShare"><i class="fa fa-envelope-o fa-lg"></i></a>
                    <a href="https://twitter.com/dschmudde" target="_blank" class="popupShare"><i class="fa fa-twitter fa-lg"></i></a>
                    <a href="http://www.linkedin.com/in/schmudde" target="_blank" class="popupShare"><i class="fa fa-linkedin-square fa-lg"></i></a>
                    <a href="https://instagram.com/schmudde" target="_blank" class="popupShare"><i class="fa fa-instagram fa-lg"></i></a>
                    <a href="https://plus.google.com/+DSchmudde/posts" target="_blank" class="popupShare"><i class="fa fa-google-plus fa-lg"></i></a>
                </span>
            </div> <!-- /column -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</footer>

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,100&text=ProjectsTalkExhibonWbg.' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
</body>
</html>
