<footer class="container">
    <div class="row">
        <div class="col-sm-12">
            <p>footer</p>
        </div> <!-- /column -->
    </div> <!-- /row -->
</footer>

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,300,100,700,400italic' rel='stylesheet' type='text/css'>

</body>
</html>
