<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
<meta name="description" content="The Work of D. Schmudde" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

<title>D. Schmudde: {{page-title}}</title>

<!-- FontAwesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="css/main.min.css" />

</head>
<body>

<style>

#mainBox, #window {
    width: 100px;
    height: 25px;
    position: relative;
    padding: 0px;
    margin: 0px;
    border: 1px solid red;
}

canvas {
    padding: 0px;
    margin: 0px;
}

#window {
    z-index: 1;
    left: -100px;
    border: 1px solid blue;
}

span {
    border: 1px solid green;
}
#mainBox {
/*    z-index: 0; */
}
</style>


<script src="js/visual.js" type="text/javascript"></script>
<script>
function init() {
    var canvas=document.getElementById("mainBox");
    var context=canvas.getContext("2d");

    var window=document.getElementById("window");
    var windowContext=window.getContext("2d");

windowContext.moveTo(0,0);
windowContext.lineTo(100,200);
windowContext.stroke();

}
</script>

<nav class="navbar-inverse navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="titleContainer">
                <span><canvas id="mainBox"></canvas>
                <!-- <canvas id="window"></canvas> --></span>
            </div> <!-- /column -->
        </div> <!-- /row -->
        <div class="row">
            <div class="col-sm-12">
                <nav>
                    <ul class="nav nav-pills">
                        <li role="presentation"><a href="projects">Projects</a></li>
                        <li role="presentation"><a href="talks">Talks</a></li>
                        <li role="presentation"><a href="exhibitions">Exhibitions</a></li>
                        <li role="presentation"><a href="weblog">Weblog</a></li>
                    </ul>
                </nav>
            </div> <!-- /column -->
        </div> <!-- /row -->
    </div> <!-- /container -->
</nav>
