<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
<meta name="description" content="The Work of D. Schmudde" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />

<title>D. Schmudde: {{page-title}}</title>

<!-- FontAwesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="css/main.min.css" />

</head>
<body>

<div class="container">

<header>
    <div class="row">
        <div class="col-sm-12" id="titleContainer">
            <h1 id="headerContainer"><a href="/">D. Schmudde</a></h1>
            <span class="socialIcons" id="logoContainer">
                <a href="https://twitter.com/dschmudde" target="_blank" class="popupShare"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="http://www.linkedin.com/in/schmudde" target="_blank" class="popupShare"><i class="fa fa-linkedin-square fa-lg"></i></a>
            </span>
        </div> <!-- /column -->
    </div> <!-- /row -->
    <nav class="row">
        <div class="col-sm-12" id="titleContainer">
            <ul class="nav">
                <li><a href="projects">Projects</a></li>
                <li><a href="talks">Talks</a></li>
            </ul>
        </div> <!-- /column -->
    </nav> <!-- /row -->
</header>
<p>testers</p>
</div>
