{{> header}}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>DIGITAL EXPERIENCES</h1>
            <p>type on and blinking. then erased and replaced</p>
            <p>should include sound</p>
        </div> <!-- /column -->
    </div> <!-- /row -->
</div>

{{> footer}}
