{{> header}}

<div class="container" id="mainContent">
    <div class="row">
        <div class="col-sm-12">
            <h1>D. Schmudde</h1>
            <!-- <canvas id="mainBox" width="800" height="200"></canvas> -->
        </div> <!-- /column -->
    </div> <!-- /row -->
</div>

<script>
init();
</script>

{{> footer}}
