{{> header}}

<div class="container" id="mainContent">
    <div class="row">
        <div class="col-sm-12">
            <h1>D. Schm&uuml;dde</h1>
            <p>I'm an artist that works at the intersection of storytelling and technology to create compelling experiences.</p>
        </div> <!-- /column -->
    </div> <!-- /row -->
</div>

<script>
init();
</script>

{{> footer}}
