{{> header}}

<!-- Custom CSS -->
<link rel="stylesheet" href="css/animate.min.css" />

<div class="container" id="mainContent">
    <header>
        <h1>{{page-title}}</h1>
        <h2>I work at the intersection of storytelling and technology to create compelling experiences.</h2>
        <ul class="list-inline text-center filters">
            {{#tags}}
                <li><button class="btn {{tag}}" id="{{tag}}">{{tag}}</button></li>
            {{/tags}}
        </ul>
        <div>
            <p class="text-center">Filter by your interest</p>
        </div>
    </header>

    <div class="row">
        <div class="col-xs-12">
        {{#projects}}
            <div class="{{position}} project-box">
                {{#video}}
                    <div class="embed-responsive embed-responsive-16by9"><iframe src="{{media}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
                {{/video}}
                {{#image}}
                <img src="img/{{media}}" class="img-responsive" />
                {{/image}}
                <div class="panel panel-info">
                    <div class="panel-heading"><h3>{{title}}</h3></div>
                    <div class="panel-content">
                        <dl class="dl-horizontal">
                            <dt>Synopsis</dt>
                            <dd>{{synopsis}}</dd>
                            <dt>Status</dt>
                            <dd>{{status}}</dd>
                            <dt>Link</dt>
                            <dd><a href="{{link}}">Homepage</a></dd>
                            <dt></dt>
                            <dd class="labels">{{#tags}}<span class="label {{tag}}">{{tag}}</span>{{/tags}}</dd>
                        </dl>
                    </div>
                </div> <!-- /panel -->
            </div> <!-- /position -->
        {{/projects}}
        </div> <!-- /column -->
    </div> <!-- /row -->

</div>

{{> footer}}
