{{> header}}

<div class="container" id="mainContent">
    <header>
        <h1>{{page-title}}</h1>
        <h2>Sharing Big Ideas on Art and Technology</h2>
    </header>



    <div class="row">
        <div class="threeColumns">
            <img src="img/speaking/panel1-hd.jpg" class="img-responsive featured">
        </div> <!-- col -->
        <div class="threeColumns">
            <div class="panel panel-info">
                <div class="panel-heading"><h3>Summary</h3></div>
                <div class="panel-content"><p>I am a passionate speaker, artist, and organizer focused on the intersection of culture and technology. My diverse background in public speaking ranges from the history of digital surveillance to an examination of sound design techniques in cinema. Presentations at hacking conferences, general assemblies, and college classrooms are often accompanied by rich media assets to help illustrate provocative concepts.</p></div>
            </div>
        </div> <!-- col -->
        <div class="threeColumns">
            <img src="img/speaking/mrp-talk.jpg" class="img-responsive featured">
            <img src="img/speaking/filmshop-talk.jpg" class="img-responsive featured">
        </div> <!-- col -->
    </div> <!-- /row -->

    <hr />
    <hr />

    {{#talks}}

    {{{row-start}}}
        <div class="threeColumns">
            {{#video}}
            <div class="embed-responsive embed-responsive-16by9"><iframe src="{{media}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
            {{/video}}
            {{#image}}
            <img src="img/{{media}}" class="img-responsive" />
            {{/image}}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>{{{title}}}</h3>
                    <h4>{{{subtitle}}}<small>{{{date}}}</small></h4>
                </div>
                <div class="panel-content">
                    <dl>
                        <dt>Location</dt>
                        <dd>{{location}}</dd>
                        <dt>Synopsis</dt>
                        <dd>{{{synopsis}}}</dd>
                        {{#link-status}}
                        <dt>Link</dt>
                        <dd><a href="{{link}}" target="_blank">{{{link-name}}}</a></dd>
                        {{/link-status}}
                    </dl>
                </div>
            </div> <!-- /panel -->
        </div> <!-- /column -->
    {{{row-end}}}

    {{/talks}}


</div>

{{> footer}}
