{{> header}}

<div class="container" id="mainContent">
    <header>
        <h1>{{page-title}}</h1>
        <h2>I love talking about big ideas in groups or one-on-one.</h2>
    </header>

    {{#talks}}
    {{{row-start}}}
        <div class="threeColumns">
            {{#video}}
            <div class="embed-responsive embed-responsive-16by9"><iframe src="{{media}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
            {{/video}}
            {{#image}}
            <img src="img/{{media}}" class="img-responsive" />
            {{/image}}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>{{{title}}}</h3>
                    <h4>{{{subtitle}}}<small>{{{date}}}</small></h4>
                </div>
                <div class="panel-content">
                    <dl>
                        <dt>Location</dt>
                        <dd>{{location}}</dd>
                        <dt>Synopsis</dt>
                        <dd>{{{synopsis}}}</dd>
                        {{#link-status}}
                        <dt>Link</dt>
                        <dd><a href="{{link}}">{{{link-name}}}</a></dd>
                        {{/link-status}}
                    </dl>
                </div>
            </div> <!-- /panel -->
        </div> <!-- /column -->
    {{{row-end}}}
    {{/talks}}


</div>

{{> footer}}
