{{> header}}

<div class="container" id="mainContent">
    <h1>{{page-title}}</h1>

    <div class="row">
    {{#talks}}
        <div class="twoColumns">
            <ul>
                <li>{{location}}</li>
                <li>{{date}}</li>
                <li>{{title}}</li>
                <li>{{synopsis}}</li>
                <li>{{media}}</li>
            </ul>
        </div> <!-- /column -->
    {{/talks}}
    </div> <!-- row -->


</div>

{{> footer}}
