{{> header}}

<link rel="stylesheet" href="css/animate.min.css" />

<div class="container" id="mainContent">
    <!-- <div class="row" id="distant-apologies"> -->
    <div class="row" id="distant-apologies">
        <header class="header-col">
            <h1>The Rhythm of Time</h1>
            <h2>Coming Soon</h2>
        </header> <!-- col -->
    </div> <!-- /row -->

    <div class="row">
        <div class="embed-responsive embed-responsive-4by3">
            <iframe src="https://player.vimeo.com/video/168568883" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div> <!-- /row -->

</div>

{{> footer}}
