{{> header}}

<style>

</style>

<div class="container" id="mainContent">
    <header>
        <h1>{{page-title}}</h1>
        <h2>{{page-subtitle}}</h2>
        <p>
        <span class="blog-subscribe">
            <i class="fa fa-rss fa-border"></i> &nbsp; <a href="//beyondthefra-me.tumblr.com/rss" target="_blank">Subscribe With RSS</a>
        </span>
        <span class="blog-subscribe">
            <i class="fa fa-tumblr fa-border"></i> &nbsp; <a href="//beyondthefra-me.tumblr.com" target="_blank">Follow on Tumblr</a>
        </span>
        </p>
    </header>

    {{#posts}}
    <div class="post-row row">
        <div class="post-header-sm4">
            <p class="small">{{{published-date}}}</p>
            <p class="small"><a href="{{{link}}}" target="_blank">permalink</a></p>
        </div>
        <div class="post-sm8-xs12">
            <p>{{#description}}{{{value}}}{{/description}}</p>
            <hr />
        </div> <!-- /column -->
    </div> <!-- /row -->
    {{/posts}}

</div>

{{> footer}}
