;; Analyzed by ClojureScript 1.7.48
{:name schmud-de.weblog, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires {stringer clojure.string, clojure.string clojure.string}, :imports nil}