.oneBox {
    width: 100%;
}

.twoBox {
    display: inline-block;
    vertical-align: top;

    @media (min-width: @screen-sm-min) {
        width: 49.5%;
    }
    @media (max-width: @screen-sm-min) {
        width: 100%;
    }
}

.narrative {
    .button-style;
    .btn-danger;
}

.documentary {
    .button-style;
    .btn-info;
}

.interactive {
    .button-style;
    .btn-warning;
}

.installation {
    .button-style;
    .btn-success;
}

.sound {
    .button-style;
    .btn-primary;
}

.label.installation, .label.sound, .label.interactive, .label.documentary, .label.narrative  {
    background-color: @background-gray;
    border: 0.5px dotted;
    border-radius: 0em;
    font-weight: normal;
}

// Overwrites the Bootstrap default for labels on hover
span[class*="label"] {
    pointer-events: none;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 0.9em;
}

.panel {
    margin-top: 10px;
    border-radius: 0px;

    small {
        display: block;
        padding-top: 1em;
    }

    dd {
        padding-bottom: 1em;
    }

    .dl-horizontal {
        dd {
            padding-bottom: 0em;
        }
    }
}

.panel-info {
    border-color: @foreground-gray;
    border-width: 0.5px;
}

.panel-info > .panel-heading {
    background-color: @background-gray;
    border-color: @foreground-gray;
}

.panel-heading {
    border-bottom: 5px double;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-content {
    padding: 10px;
}
