
.button-style {
    display: inline-block;
    text-transform: capitalize;
}

.narrative {
    .button-style;
    .btn-danger;
}

.documentary {
    .button-style;
    .btn-info;
}

.interactive {
    .button-style;
    .btn-warning;
}

.installation {
    .button-style;
    .btn-success;
}

.sound {
    .button-style;
    .btn-primary;
}

h3 {
    font-size: 1.1em;
}

.panel {
    margin-top: 10px;
}

.panel-content {
    padding: 10px;
}
