ul.panel-content#distant-tweets, ul.panel-content#distant-tweets > li:not(:last-child) {
    .fontVeryLightMixin;
    min-height: 80px;
    color: @black;
    border-bottom: none;
    margin-bottom: 0;
}

.twitter-box-apol-col {
    .make-xs-column(12);

    .panel-content {
        padding-top: 0px;
    }

    h3 {
        font-size: 1.0em;
        margin-top: 0px;
        margin-bottom: 8px;
    }


    .header-col, .header-col-right {
        .make-sm-column(6);
        .make-xs-column(12);
        padding-bottom: 0px;
    }

    .header-col-right {
        text-align: right;
    }
}

#distant-apologies {

    .header-col {
        .make-xs-column(12);
        padding-bottom: 0px;
    }
}
