/* canvas {
    border: 1px solid black
} */

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 95px;
}

h1, h2, h3 {
    color: @brand-primary;
}

h1 small {
    color: @brand-info;
}

h1, h2, h3 {
    .fontDisplayMixin;
}

h1 small, h4, blockquote {
    .fontBodyTextMixin;
}

h4, blockquote {
    color: @gray;
}

blockquote {
    font-size: 14px;
    margin-bottom: 8px;

    footer {
        background-color: transparent;
        padding: 0;
        position: relative;
    }
}

h1 {
	padding-top: 0px;
    padding-bottom: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
    text-transform: uppercase;
}

h2 {
	padding-top: 0px;
	margin-top: 0px;
}

p {
    .fontBodyTextMixin;
    line-height: 1.5em;
    color: @black;
}

header {
   padding-bottom: 28px;

   ul.filters {
       padding-top: 15px;
   }
}

article {
    border-top: 1px dotted green;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-top: 25px;

    img {
        padding-top: 25px;
        padding-bottom: 25px;
        .center-block();
    }
}

menu {
    padding-top: 40px;
    padding-left: 0px;
}

.post-row {

    .make-row();

    hr {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    img {
        border-radius: 5px;
        max-width: 500px;
    }

    .post-sm8-xs12 {
        max-width: 500px;
        .make-sm-column(8);
        .make-xs-column(12);
    }

    .post-header-sm4 {
        .make-sm-column(4);
        .hidden-xs;
        text-align: right;
    }
}

.exhibitions {
    h3 {
        font-size: 24px;
        margin-top: 0px;
        font-weight: normal;
    }

    ul {
        color: @blueFG;
        list-style-type: none;
        padding-bottom: 11px;
    }

    .strong {
        font-weight: bold;
    }

    small {
        font-weight: normal;
        color: gray;
    }

    .sublist {
        color: @blueFG-lighter;
        list-style-type: none;
        padding-bottom: 11px;
    }
}

.socialIcons {
    a:link {
        color: @brand-primary;
    }

    a:hover {
        color: darken(@brand-primary, 15%);
    }
}

/**
 *  BOOTSTRAP OVERRIDES
 *  These are detailed overrides of the Bootstrap defaults
 */
/**
 * Horizontal description lists
 * Defaults to being stacked without any of the below styles applied, until the
 * grid breakpoint is reached (default defined in variables.less
 *
 * I had to copy the BS code and use a different class selector because the media breakpoint
 * did not suit my purposes.
 */

.dl-horizontal-noBS {
  dd {
    &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
  }

  @media (min-width: @dl-horizontal-breakpoint) {
    dt {
      float: left;
      width: (@dl-horizontal-offset - 20);
      clear: left;
      text-align: right;
      .text-overflow();
    }
    dd {
      margin-left: @dl-horizontal-offset;
    }
  }
}


/**
 *  LAYOUT
 */

/**
 * For tablets, laptops, and PCs, add padding to the content. Because the footer is pinned,
 * it can sit on top of the content and make it unreadable if the proper amount of padding
 * is not added.
 */

#mainContent {
    padding-top: 20px;
    padding-bottom: 80px;
}

.oneColumn {
    .make-xs-column(12);
}

.twoColumns {
    .make-sm-column(6);
    .make-xs-column(12);
}

.threeColumns {
    .make-sm-column(4);
    .make-xs-column(12);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: @background-gray;
    padding-top: 14px;
    padding-bottom: 14px;
}