/* canvas {
    border: 1px solid black
} */

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 95px;
}

h1, h2, h3 {
    color: @brand-primary;
}

h1 small {
    color: @brand-info;
}

h1, h3 {
    .fontHeavyMixin;
}

h1 small, h2, h4, blockquote {
    .fontLightMixin;
}

h4, blockquote {
    color: @gray;
}

blockquote {
    font-size: 14px;
    margin-bottom: 8px;

    footer {
        background-color: transparent;
        padding: 0;
        position: relative;
    }
}

h1 {
	padding-top: 0px;
    padding-bottom: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2 {
	padding-top: 0px;
	margin-top: 0px;
}

p {
    .fontLightMixin;
    line-height: 1.5em;
}

header {
   padding-bottom: 40px;

   .filters li {
       padding-top: 15px;
   }
}

article {
    border-top: 1px dotted green;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-top: 25px;

    img {
        padding-top: 25px;
        padding-bottom: 25px;
        .center-block();
    }
}

.post-row {

    .make-row();

    hr {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    img {
        border-radius: 5px;
        max-width: 500px;
    }

    .post-sm8-xs12 {
        max-width: 500px;
        .make-sm-column(8);
        .make-xs-column(12);
    }

    .post-header-sm4 {
        .make-sm-column(4);
        .hidden-xs;
        text-align: right;
    }
}

.exhibitions {
    h3 {
        font-size: 24px;
        margin-top: 0px;
        font-weight: normal;
    }

    ul {
        color: @blueFG;
        list-style-type: none;
        padding-bottom: 11px;
    }

    .strong {
        font-weight: bold;
    }

    small {
        font-weight: normal;
        color: gray;
    }

    .sublist {
        color: @blueFG-lighter;
        list-style-type: none;
        padding-bottom: 11px;
    }
}

.socialIcons {
    a:link {
        color: @brand-primary;
    }

    a:hover {
        color: darken(@brand-primary, 15%);
    }
}

/**
 *  LAYOUT
 */

/**
 * For tablets, laptops, and PCs, add padding to the content. Because the footer is pinned,
 * it can sit on top of the content and make it unreadable if the proper amount of padding
 * is not added.
 */

#mainContent {
    padding-top: 20px;
    padding-bottom: 80px;
}

.oneColumn {
    .make-xs-column(12);
}

.twoColumns {
    .make-sm-column(6);
    .make-xs-column(12);
}

.threeColumns {
    .make-sm-column(4);
    .make-xs-column(12);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 14px;
    padding-bottom: 14px;
}

/**
 *  LINKS
 */

/* unvisited link */
a:link {
    color: @brand-primary;
}

/* visited link */
a:visited {
    color: lighten(@brand-primary, 23%);
}

/* mouse over link */
a:hover {
    color: darken(@brand-primary, 15%);
}

/* selected link */
a:active, a:active, a:focus {
    color: ff6666;
    text-decoration: none;
}
