@videoWidth: 595px;

@brand-primary: darken(@brand-info, 30%);
@blueFG: darken(@brand-info, 15%);
@blueBG: lighten(@brand-info, 35%);
@blueBG-hex: rgba(240,249,252,255);
@greenBG: @state-success-bg;
@greenFG: @state-success-text;
@redFG: @brand-danger;
@redBG: lighten(@redFG, 35%);

// Header Values
@waveform-width: 100px;
@waveform-height: 25px;


.responsiveImgMixin {
    .img-responsive;
    .center-block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fontHeavyMixin {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.fontLightMixin {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.fontVeryLightMixin {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.fontVeryVeryLightMixin {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}